extends layout

block content
  if _csrf
    input(type='hidden' name='_csrf' value=_csrf)
  div.nav
    ul
      li Home
      li Observations
      li Recent Activity
      li Profile
      li 
        a(href='/user') Sign Up
      li Sign In
      li Sign output 
  div.header
    h1 B3 
    h2 Backcountry Blue Book
  

  div.nav
    ul
      li 
